################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/backend/Services/UserService/bin/Debug/net8.0
/backend/Services/UserService/.vs/UserService
/backend/Services/UserService/obj/Debug/net8.0
